<section>
	<div class="container">
		<div class="row">
			<h1>Github Mundipagg</h1>
		</div>
		<div class="row" ng-controller="RepositoryController as vm">
			<div class="col-4">
				<select ng-options="repo as repo.name for repo in vm.repository" ng-model="vm.repoSelect"
					ng-change="vm.updateData()">
				</select>
				<div class="section__box">
					<i class="fa fa-star fa-3x box__icon" aria-hidden="true"></i>
					<h3 class="font-light">Total Stars</h3>
					<p class="font-heavy">{{vm.repoSelect.stargazers_count}}</p>
				</div>
				<div class="section__box">
					<i class="fa fa-code-fork fa-3x box__icon" aria-hidden="true"></i>
					<h3 class="font-light">Total Forks</h3>
					<p class="font-heavy">{{vm.repoSelect.forks}}</p>
				</div>
				<div class="section__box">
					<i class="fa fa-user fa-3x box__icon" aria-hidden="true"></i>
					<h3 class="font-light">Total Contributors</h3>
					<p class="font-heavy">{{vm.contributorsNumber}}</p>
				</div>
			</div>
			<div class="col-8">
				<div class="section__commits">
					<h2>Commits</h2>
					<canvas id="base" class="chart-bar" chart-data="[vm.data]" chart-labels="vm.labels" chart-colors="vm.colors"
						chart-dataset-override="vm.datasetOverride" height="105px"></canvas>
					</canvas>
				</div>
			</div>
		</div>
	</div>
</section>